.App {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  text-align: center;
  background: var(--accented-main-color);
}

.logo {
  font-weight: 700;
  font-size: 40px;
  font-family: monospace;
  color: var(--popup-color)
}

.container {
  margin: 5% 20%;
}

.job-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.job {
  background-color: var(--popup-color);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.button {
  color: var(--main-color);
  font-weight: 700;
  background-color: var(--button-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: black;
}